.timeline {
  border-left: 3px solid #fd790d; /* Vertical line */
  position: relative;
  padding-left: 30px;
  margin-left: 15px;
}

.timeline-item {
  position: relative;
}

.timeline-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: -9px; /* Centers the dot on the line */
  top: 5px;
}
